image: "archlinux:latest"

cargo:version:
  before_script:
    - pacman -Sy rustup base-devel --noconfirm
    - rustup default stable
  script:
    - rustc --version && cargo --version

cargo:clippy:
  before_script:
    - pacman -Sy rustup base-devel --noconfirm
    - rustup default stable
    - rustup component add clippy
  script:
    - cargo clippy --no-deps -- -D clippy::all

cargo:fmt:
  before_script:
    - pacman -Sy rustup base-devel --noconfirm
    - rustup default stable
    - rustup component add rustfmt
  script:
    - cargo fmt --check
